body{
    
    background-color: rgb(245, 245, 245);
    background-image: url(c.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
div{
    text-align: center;
    background: linear-gradient(to right, #d8be85, #cff2f2);
    padding: 30px;
    margin-left: 35%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-top: 10%;
    border-radius: 10px;
    box-shadow:0 0 20px  rgba(0, 0, 0, 0.74);
}
label {
    display: contents;
    font-weight: bold;
    margin: 1px;
    color: #0027e9;
    font-size: 20px;
    
}
input[type="text"],
input[type="email"]
 {
    width: 50%;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid antiquewhite;
    border-radius: 5px;
    background-color: rgba(250, 235, 215, 0.414);
    color: rgb(90, 0, 225);
    box-shadow: 0 0 5px antiquewhite;
}
input[type="password"]{
    width: 50%;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid antiquewhite;
    border-radius: 5px;
    background-color: rgba(250, 235, 215, 0.414);
    color: rgb(90, 0, 225);
    box-shadow: 0 0 5px antiquewhite;
}
input[type="submit"]{
    padding: 5px;
    width: 60%;
}
#a{
    margin-left: 50%;
}